body {
  padding: 0;
  padding: 0;
  background: #2B2B2B;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
  padding: 0;
  margin: 0;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 1074px;
  margin: 0 auto;
}

.header {
  padding: 26px 50px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #2B2B2B;
  z-index: 1000;
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  background: #2B2B2B;
  width: 100%;
}

.header__content-link {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header__content-planet {
  position: relative;
}

.planet {
  width: 40px;
  height: 40px;
  fill: #a259ff;
}

.cursor {
  position: absolute;
  width: 17px;
  height: 17px;
  top: 27px;
  left: 29px;
  fill: #a259ff;
}

.header__content-line {
  width: 1px;
  height: 46px;
  background: #a259ff;
}

.developer {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.developer__text {
  color: #a259ff;
  font-family: "Work Sans";
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%; /* 73.7px */
  text-transform: capitalize;
}

.developer__quote {
  color: #FFF;
  font-family: "Space Mono";
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
}

.navigation {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.menu {
  gap: 50px;
  display: flex;
  align-items: center;
}
.menu__item {
  transition: transform 0.3s linear;
}
.menu__item:hover {
  transform: scale(1.1);
}
.menu__link {
  color: #fff;
  text-align: center;
  font-family: "Work Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  transition: color 0.3s linear;
}
.menu__link:hover {
  color: #a259ff;
}

.hamburger {
  display: none;
}

@media (max-width: 1024px) {
  .header {
    padding: 15px 50px;
  }
  .hamburger {
    display: block;
    position: relative;
    z-index: 100;
    right: 1rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .closeIcon {
    display: none;
    position: fixed;
    z-index: 100;
    width: 20px;
    right: 1.6rem;
    top: 1rem;
  }
  .closeIcon::after, .closeIcon::before {
    content: "";
    position: absolute;
    top: 1rem;
    right: 0;
    background-color: white;
    height: 2px;
  }
  .closeIcon::after {
    bottom: 0;
    width: 20px;
    transform: rotate(45deg);
  }
  .closeIcon::before {
    background-color: white;
    transform: rotate(-45deg);
    width: 20px;
    top: 16px;
  }
  .navigation {
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.2s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: black;
    color: white;
    list-style: none;
    padding-top: 4rem;
    gap: 50px;
    flex-direction: column;
  }
  .showNavigation {
    transform: translateY(0);
  }
  .menu__link {
    font-size: 1.8rem;
  }
  .menu__link:hover {
    text-decoration: underline;
  }
  .menu {
    gap: 30px;
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .header {
    padding: 15px 30px;
  }
}
@media (max-width: 356px) {
  .header {
    padding: 15px 0;
  }
}
.welcome {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px 0 0 0;
}

.welcome__video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: hue-rotate(67deg) brightness(0.4);
}

.welcome__content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.welcome__content-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.welcome__content-hello {
  color: #FFF;
  font-family: "Work Sans";
  font-size: 56px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s ease forwards;
}

.welcome__content-title {
  color: #FFF;
  font-family: "Work Sans";
  font-size: 66px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 10px 0 25px 0;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s ease forwards;
}

.welcome__content-title-span {
  color: #A259FF;
  font-family: "Work Sans";
  font-size: 66px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.welcome__content-web {
  color: #FFF;
  font-family: "Work Sans";
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s ease forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.scroll-content {
  position: relative;
}

.scroll-down {
  left: 50%;
  transform: translate(-50%, 0);
  top: 140px;
  cursor: pointer;
  height: 50px;
  position: absolute;
  width: 30px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 50px;
}
.scroll-down::before {
  animation-timeline: auto;
  animation-range-start: normal;
  animation-range-end: normal;
  content: "";
  height: 10px;
  position: absolute;
  top: 20%;
  transform: translate(-50%, -100%) rotate(45deg);
  width: 10px;
  animation: 1s ease-in-out 0s infinite normal none running scroll-down;
  border-width: 2px 2px;
  border-style: solid solid;
  border-color: transparent rgb(255, 255, 255) rgb(255, 255, 255) transparent;
  -o-border-image: initial;
     border-image: initial;
  border-left: transparent;
  border-top: transparent;
}

@keyframes scroll-down {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 90%;
  }
}
@media (max-width: 1024px) {
  .welcome {
    margin: 77px 0 0 0;
  }
  .welcome__content-hello {
    font-size: 38px;
  }
  .welcome__content-title, .welcome__content-title-span {
    font-size: 55px;
    padding: 5px 0 20px 0;
  }
  .welcome__content-web {
    font-size: 46px;
  }
  .scroll-down {
    top: 90px;
  }
}
@media (max-width: 768px) {
  .welcome__content-hello {
    font-size: 25px;
  }
  .welcome__content-title, .welcome__content-title-span {
    font-size: 36px;
    padding: 5px 0 15px 0;
  }
  .welcome__content-web {
    font-size: 28px;
  }
}
.about {
  padding: 43px 0 0 0;
}

.about__content {
  display: flex;
  flex-direction: column;
  gap: 63px;
  align-items: center;
}

.about__content-title {
  color: #FFF;
  font-family: "Work Sans";
  font-size: 56px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.about__content-title-span {
  color: #A259FF;
  font-family: "Work Sans";
  font-size: 56px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.information {
  display: flex;
  gap: 42px;
  flex-wrap: wrap;
  justify-content: center;
}

.information__content {
  display: flex;
  flex-direction: column;
  align-items: start;
  background: #000;
  padding: 1rem;
  width: 504px;
  border-radius: 20px;
  border: 2px solid #A259FF;
}

.information__content-title {
  color: #A259FF;
  font-family: "Work Sans";
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0 0 2rem 0;
}

.information__content-name {
  color: #FFF;
  font-family: "Work Sans";
  font-size: 2.7rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0 0 2rem 0;
}

.information__content-text {
  color: #788E9C;
  font-family: "Work Sans";
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0 0 3rem 0;
}

.information__content-additional {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 0 0 3rem 0;
}

.information__additional-content {
  display: flex;
  align-items: center;
  gap: 8px;
}

.information__additional {
  color: #788E9C;
  font-family: "Work Sans";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.information__additional-roket {
  width: 30px;
  height: 30px;
}

.hobbies {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 0 0 3rem 0;
}

.hobbies__text {
  color: #788E9C;
  font-family: "Work Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.hobbies__text-span {
  color: #FFF;
  font-family: "Work Sans";
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.information__btn {
  width: 180px;
  height: 50px;
  border-radius: 15px;
  border: none;
  outline: none;
  background-color: #A259FF;
  color: #FFF;
  font-family: "Work Sans";
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: start;
  position: relative;
  padding: 0.35em 3.1em 0.35em 1.8rem;
  transition: transform 0.3s linear;
}
.information__btn:hover {
  transform: scale(0.98);
}
.information__btn:hover .icon {
  width: 93%;
}

.icon {
  position: absolute;
  right: 6px;
  width: 35px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
  transition: width 0.3s linear;
}
.icon img {
  width: 24px;
  height: 24px;
}

.front {
  display: flex;
  flex-direction: column;
}

.skills {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
}

.skills__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s linear;
}
.skills__content:hover {
  transform: scale(0.95);
}
.skills__content:hover .skills__content-subtitle {
  transform: translate(0, -98px);
  opacity: 1;
}
.skills__content:hover .icons-skils {
  filter: grayscale(0);
}

.icons-skils {
  width: 70px;
  height: 70px;
  filter: grayscale(100%);
  transition: filter 0.3s linear;
  transform: translateY(3px);
}

.skills__content-subtitle {
  width: 100px;
  height: 30px;
  color: black;
  font-family: "Work Sans";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: white;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: translate(0, -75px);
  transition: transform 0.3s linear;
}

@media (max-width: 1024px) {
  .about__content {
    gap: 35px;
  }
  .about__content-title, .about__content-title-span {
    font-size: 42px;
  }
  .information__content {
    width: 100%;
    padding: 1.5rem;
  }
  .information__content-title {
    margin: 0 0 1.3rem 0;
    font-size: 1.8rem;
  }
  .information__content-name {
    font-size: 2.5rem;
    margin: 0 0 1.3rem 0;
  }
  .information__content-text {
    font-size: 1.1rem;
    margin: 0 0 2rem 0;
  }
  .information__additional {
    font-size: 0.9rem;
  }
  .information__additional-roket {
    width: 24px;
    height: 24px;
  }
  .information__content-additional, .hobbies {
    margin: 0 0 2rem 0;
  }
  .hobbies__text-span {
    font-size: 16px;
  }
  .hobbies__text {
    font-size: 15px;
  }
  .information__btn {
    width: 156px;
    height: 42px;
    font-size: 1rem;
    padding: 0.35em 3em 0.35em 1.4rem;
  }
  .icon {
    width: 30px;
    height: 30px;
  }
  .icon img {
    width: 20px;
    height: 20px;
  }
  .icons-skils {
    width: 60px;
    height: 60px;
  }
  .skills {
    gap: 10px;
  }
  .skills__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s linear;
  }
  .skills__content:hover {
    transform: scale(0.95);
  }
  .skills__content:hover .skills__content-subtitle {
    transform: translate(0, 8px);
  }
  .skills__content:hover .icons-skils {
    filter: grayscale(0);
  }
  .skills__content-subtitle {
    width: 70px;
    height: 24px;
    border-radius: 5px;
    transform: translate(0, 8px);
    transition: transform 0.3s linear;
    opacity: 1;
    font-size: 12px;
  }
  .information__skills {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 40px;
  }
}
@media (max-width: 768px) {
  .about__content-title, .about__content-title-span {
    font-size: 33px;
  }
  .about__content {
    gap: 29px;
  }
  .information__content-title {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
  }
  .information__content-name {
    font-size: 2rem;
    margin: 0 0 1rem 0;
  }
  .information__content-text {
    font-size: 1rem;
    margin: 0 0 1.7rem 0;
  }
  .icons-skils {
    width: 48px;
    height: 48px;
  }
  .skills__content:hover .skills__content-subtitle {
    transform: translate(0, 11px);
  }
  .skills__content-subtitle {
    width: 47px;
    height: 0px;
    transform: translate(0, 11px);
    font-size: 11px;
    color: white;
    background-color: transparent;
  }
  .information__skills {
    gap: 30px;
  }
}
.project {
  background-color: #3B3B3B;
  padding: 0 0 30px 0;
}

.project-nav {
  padding: 43px 0 0 0;
}

.project-nav__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.project-nav__content-title {
  color: #FFF;
  font-family: "Work Sans";
  font-size: 56px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  padding: 0 0 63px 0;
}

.nav__content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 373px;
  border-bottom: none;
}

.nav-item__link.active {
  border-bottom: 3px solid #3B3B3B;
}

.nav-item__link.active {
  color: #FFF;
  text-align: center;
  /* H5 - Work Sans */
  font-family: "Work Sans";
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 30.8px */
  text-transform: capitalize;
}

.nav-item__link {
  display: flex;
  gap: 16px;
  align-items: center;
  color: #858584;
  text-align: center;
  /* H5 - Work Sans */
  font-family: "Work Sans";
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 30.8px */
  text-transform: capitalize;
  transition: color 0.3s linear;
}
.nav-item__link:hover {
  color: white;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  background: transparent;
  border-color: transparent;
  color: #FFF;
  position: relative;
  outline: none;
}

.nav-tabs .nav-item.show .nav-link::after,
.nav-tabs .nav-link.active::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  width: 400px;
  height: 3px;
  background-color: #5f5f5f;
  transform: translateX(-50%);
}

.nav-tabs .nav-link {
  border: none;
}

.nav-item__link-text {
  color: #FFF;
  /* Base (Body) - Space Mono */
  font-family: "Space Mono";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  height: 32px;
}

.nav-item__link.active .nav-item__link-text {
  background-color: #858584;
}

.nav-item__link .nav-item__link-text {
  background-color: #3B3B3B;
  transition: bg-color 0.3s linear;
}

.nav-item__link-text-nafts {
  width: 50px;
}

.nav-item__link-text-collection {
  width: 40px;
}

.magic {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 60px 0 60px 0;
}

.magic__content {
  background: #2B2B2B;
  width: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s linear;
  border-radius: 10px;
  border: 3px solid #A259FF;
  padding: 25px 39px 35px 39px;
}
.magic__content:hover {
  transform: scale(0.99);
}

.magic__content-photo {
  width: 401.104px;
  height: 200px;
  box-shadow: -1px 1px 20px 7px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.magic__content-title {
  color: #FFF;
  font-family: "Work Sans";
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 14px 0;
}

.magic__content-subtitle {
  color: #788E9C;
  font-family: "Work Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.magic__content-technologies {
  color: #788E9C;
  font-family: "Work Sans";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 26px 0 6px 0;
}

.magic__content-technologies-line {
  color: #788E9C;
  font-family: "Work Sans";
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.magic__content-work {
  color: #788E9C;
  font-family: "Work Sans";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.magic__content-btn {
  display: flex;
  gap: 14px;
  align-items: center;
  padding: 46px 0 0 0;
}

.btn__demo {
  color: #FFF;
  font-family: "Work Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 10px;
  background-color: #A259FF;
  width: 106px;
  height: 42px;
  flex-shrink: 0;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s linear, bg-color 0.3s linear, border 0.3s linear;
}
.btn__demo:hover {
  background-color: transparent;
  border: 2px solid #A259FF;
  transform: scale(0.98) translateY(-5px);
}

.btn__repository {
  color: #FFF;
  font-family: "Work Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 10px;
  width: 154px;
  height: 42px;
  flex-shrink: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  transition: bg-color 0.3s linear, color 0.3s linear, transform 0.3s linear;
}
.btn__repository:hover {
  color: black;
  background-color: white;
  transform: scale(0.98) translateY(-5px);
}

@media (max-width: 1024px) {
  .project-nav__content-title {
    font-size: 42px;
    padding: 0 0 35px 0;
  }
  .nav__content {
    gap: 29px;
  }
  .nav-item__link.active, .nav-item__link {
    font-size: 17px;
  }
  .nav-tabs .nav-item.show .nav-link::after, .nav-tabs .nav-link.active::after {
    width: 153px;
  }
  .magic {
    padding: 30px 0;
  }
  .magic__content {
    width: 331px;
  }
  .magic__content-photo {
    width: 252px;
    height: 130px;
  }
  .magic__content-title {
    font-size: 24px;
    padding: 12px 0 10px 0;
  }
  .magic__content-subtitle {
    font-size: 15px;
  }
  .magic__content-technologies {
    font-size: 11px;
    padding: 15px 0 6px 0;
  }
  .magic__content-work {
    font-size: 11px;
  }
  .magic__content-btn {
    padding: 26px 0 0 0;
    gap: 12px;
  }
  .btn__demo {
    font-size: 14px;
    width: 80px;
    height: 36px;
  }
  .btn__repository {
    font-size: 14px;
    height: 36px;
    width: 116px;
  }
}
@media (max-width: 768px) {
  .magic__btn {
    border-radius: 20px;
    border: 2px solid #a259ff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    font-family: "Work Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    gap: 12px;
    background-color: transparent;
    height: 60px;
    width: 315px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: transform 0.3s linear, bg-color 0.3s linear;
  }
  .project-nav__content-title {
    font-size: 33px;
    padding: 0 0 29px 0;
  }
  .nav__content {
    gap: 23px;
  }
  .magic__content {
    width: 100%;
  }
}
@media (max-width: 356px) {
  .nav-tabs .nav-item.show .nav-link::after, .nav-tabs .nav-link.active::after {
    width: 124px;
  }
  .nav-item__link.active, .nav-item__link {
    padding: 0.5rem 0;
  }
  .nav__content {
    gap: 45px;
  }
}
.footer {
  background-color: #2B2B2B;
  padding: 30px 0 15px 0;
}

.contact {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
}

.contact__info {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 15px;
}

.contact__info-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.phone {
  display: flex;
  align-items: center;
  gap: 8px;
}

.phone__subtitle {
  color: #FFF;
  font-family: "Work Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  align-items: center;
  gap: 8px;
}
.phone__subtitle svg {
  width: 20px;
  height: 20px;
  fill: white;
  animation: rotate 0.9s infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.phone__link {
  color: #788E9C;
  font-family: "Work Sans";
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: color 0.3s linear, transform 0.3s linear;
}
.phone__link:hover {
  color: #A259FF;
  transform: scale(1.05);
}

.social__subtitle {
  color: white;
  font-family: "Work Sans";
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.social__subtitle-me {
  color: #A259FF;
}

.social__content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.social__link {
  transition: transform 0.3s linear;
}
.social__link:hover {
  transform: scale(1.05) translateY(-4px);
}
.social__link svg {
  width: 30px;
  height: 30px;
}

.developed {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 25px 0 0 0;
}

.developed__line {
  background-color: white;
  width: 100%;
  height: 0.5px;
}

.developed__designed {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.developed__designed-text {
  color: #FFF;
  font-family: "Work Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.developed__designed-kobtseva {
  color: #A259FF;
  font-family: "Work Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

@media (max-width: 1024px) {
  .developed__designed-text {
    font-size: 12px;
  }
  .social__subtitle {
    font-size: 30px;
  }
  .social__link svg {
    width: 25px;
    height: 25px;
  }
  .phone__subtitle {
    font-size: 16px;
  }
  .phone__subtitle svg {
    width: 16px;
    height: 16px;
  }
  .phone__link {
    font-size: 15px;
  }
  .social__content {
    gap: 24px;
  }
}
@media (max-width: 768px) {
  .contact {
    gap: 30px;
  }
  .developed {
    padding: 35px 0 0 0;
  }
  .social__subtitle {
    font-size: 28px;
  }
  .developed__designed-text {
    font-size: 11px;
  }
}
@media (max-width: 1024px) {
  .container {
    width: 714px;
  }
}
@media (max-width: 768px) {
  .container {
    width: 340px;
  }
}
@media (max-width: 356px) {
  .container {
    width: 320px;
  }
}/*# sourceMappingURL=main.css.map */