body {
    padding: 0;
    margin: 0;
    background: #2B2B2B;
}
h1, h2, h3, h4, h5, h6, p, ul, li {
    padding: 0;
    margin: 0;
}
ul, li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
.container {
    // max-width: 1200px;
    // width: 100%;
    width: 1074px;
    margin: 0 auto;
    // padding: 0 16px;
    padding: 0 10px;
}

@import "./components/header";
@import "./components/me";
@import "./components/skills";
@import "./components/footer";

@media (max-width: 1024px) {
    .container {
        width: 714px;
        padding: 0 24px;
    }
}
@media (max-width: 768px) {
    .container {
        width: 340px;
        padding: 0 12px;
    }
}

@media (max-width: 356px) {
    .container {
        width: 320px;
        padding: 0 12px;
    }
}